#achtergrondFoto{
    height: 500px;
    position: relative;
    left: 350px;
}

#Levens{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 20px;
}

#zoekDoelwit{
    position: absolute;
    left: 20px;
}

#zoekDoos{

    width: 40px;
    height: 60px;
    position: absolute;
    left: 945px;
    top: 525px;
}

#gameoverScherm{
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 550px;
    text-align: center;
}

#gameoverScherm p{
    margin-top: 20px;
    font-size: 20px;
}

#knop1{
    display: inline-block;
    width: 130px;
    height: 30px;
}

#winScherm{
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 550px;
    text-align: center;
}

#winScherm p{
    margin-top: 20px;
    font-size: 20px;
}

#knop2{
    display: inline-block;
    top: 40px;
    width: 130px;
    height: 30px;
}





